@import url('https://fonts.googleapis.com/css2?family=Dosis&family=JetBrains+Mono:wght@700&family=Poppins&family=Ubuntu&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  transition: 0.9s ease;
}

html{
  scroll-behavior: smooth;
}

header {
  background-color: #18181B;
  /*background-color: #18181B;*/
  height: 100vh;
  position: relative;
  display: flex
}

nav {
  overflow: hidden;
  position: fixed;
  transition: 0.6s ease;
  width: 100%;
  z-index: 100000000000;
  display: flex;
  justify-content: space-between; /* Pushes the logo to the left and button to the right */
  align-items: center; /* Vertically center the items */
  padding: 0 5%; /* Add padding to create space from the edges */
}

nav ul {
  margin-bottom: 25px;
  margin-top: 25px;
  list-style: none;
  display: flex;
  align-items: center;
  transition: 0.9s ease;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 20px; /* Add some space between the links */
}

nav ul li:last-child {
  margin-right: 0; /* Remove margin from the last link */
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.6s ease;
}

nav ul li a:hover {
  background: transparent;
  text-decoration: underline;
}

nav .logo h1 {
  color: white;
  font-size: 24px; /* Adjust the font size as needed */
}

nav .button a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.6s ease;
  background-color: cornflowerblue;
}

nav .button a:hover {
  background-color: blue;
  text-decoration: underline;
}

.title{
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%,-50%);
  max-width: 500px;
  margin: auto;
}

.title h1{
  color: white;
  font-size: 70px;
  text-decoration: dotted;
}

.personal-photo{
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%,-50%);
}

.personal-photo img{
  width: 480px;
  height: 550px;
}

#h2{
  height: 100vh;
  background: #18181B;
}

#h1.sticky nav{
  background: transparent;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  align-items: center;
  border: 4px solid white;
  border-radius: 10px;
}

#h1.sticky nav ul{
  margin-bottom: 25px;
}

#h1.sticky nav ul li a{
  color: white;
}

#h1.sticky nav .logo h1{
  color: white;
  font-family: 'Allura', cursive;
}

.scroll-d1{
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.scroll-d1 a{
  color: #fff;
  text-decoration: none;
  background-color: tomato;
  padding: 10px 30px;
  border-radius: 10px;
  transition: 0.6s ease;
}

.scroll-d1 a:hover{
  background-color: yellowgreen;
  font-weight: bolder;
  text-decoration: underline tomato;
}

.blur{
  position: absolute;
  box-shadow: 0 0 100000000000000000000000000000000000px 50px rgb(0, 81, 255);
  top: 30%;
  left: 15%;
  transform: translate(-50%,-50%);
  z-index: 999;
}

#h1 .title h1 span{
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.5px white;
  font-family: 'JDosis' sans-serif;
}

#h1 .title h1{
  font-weight: 10000;
}

.box1{
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%,-50%);
  border: transparent;
  background-color: darkslateblue;
  border-radius: 20px;
  width: 400px;
  height: 500px;
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.6s ease;
}

.box1 h1{
  color: white;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.box2 h1{
  color: white;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.box3 h1{
  color: white;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.box1 p{
  color: #fff;
}

.box2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: transparent;
  background-color: darkslateblue;
  border-radius: 20px;
  width: 400px;
  height: 500px;
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.6s ease;
}

.box2 p{
  color: #fff;
}

.box3{
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%,-50%);
  border: transparent;
  background-color: darkslateblue;
  border-radius: 20px;
  width: 400px;
  height: 500px;
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.6s ease;
}

.box3 p{
  color: #fff;
}

.box1:hover{
  border: 2px solid orange;
  width: 450px;
  height: 550px;
}

.box2:hover{
  border: 2px solid orange;
  width: 450px;
  height: 550px;
}

.box3:hover{
  border: 2px solid orange;
  width: 450px;
  height: 550px;
}

#h4{
  height: 100vh;
  background-color: #18181B;
}

.main{
  max-width: 1400px;
  margin: auto;
}

.basic{
  background: darkslateblue;
  width: 350px;
  height: 450px;
  padding: 10px;
  border: 2px solid white;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%,-50%);
}

.basic h1{
  color: #fff;
}

.basic p{
  color: #fff;
  margin-top: 10vh;
}

.gold{
  background: darkslateblue;
  width: 350px;
  height: 450px;
  padding: 10px;
  border: 2px solid yellow;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.gold h1{
  color: #fff;
}

.gold p{
  color: #fff;
  margin-top: 10vh;
}

.platinum{
  background: darkslateblue;
  width: 350px;
  height: 450px;
  padding: 10px;
  border: 2px solid aquamarine;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%,-50%);
}

.platinum h1{
  color: #fff;
}

.platinum p{
  color: #fff;
  margin-top: 10vh;
}

.basic a{
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 10px 30px;
  border-radius: 20px;
}

.gold a{
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-decoration: none;
  color: black;
  background-color: yellow;
  padding: 10px 30px;
  border-radius: 20px;
}

.platinum a{
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-decoration: none;
  color: black;
  background-color: aquamarine;
  padding: 10px 30px;
  border-radius: 20px;
}

#h5{
  /*border-top: 2px solid darkslategray;*/
  height: 40vh;
  background-color: #18181B;
}

.logo2{
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%,-50%);
}

.logo2 a{
  text-decoration: underline orange;
  color: white;
  font-size: 70px;
}

.youtube{
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%,-50%);
}

.instagram{
  position: absolute;
  top: 50%;
  left: 85%;
  transform: translate(-50%,-50%);
}

/*.facebook{
  position: absolute;
  top: 50%;
  left: 95%;
  transform: translate(-50%,-50%);
}*/

.youtube a{
  color: #fff;
  background: red;
  padding: 10px 30px;
  border-radius: 20px;
}

.instagram a{
  color: #fff;
  background: rgb(255,0,0);
  background: linear-gradient(145deg, rgba(255,0,0,1) 0%, rgba(255,166,0,1) 50%, rgba(225,69,252,1) 100%);
  padding: 10px 30px;
  border-radius: 20px;  
}

.facebook a{
  color: #fff;
  background-color: cornflowerblue;
  padding: 10px 30px;
  border-radius: 20px;
}

.blur2{
  position: absolute;
  box-shadow: 0 0 1000px 50px orange;
  top: 10%;
  left: 80%;
  transform: translate(-50%,-50%);
}

.blur3{
  position: absolute;
  box-shadow: 0 0 200px 50px red;
  top: 1%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.blur4{
  position: absolute;
  box-shadow: 0 0 1000px 50px aqua;
  top: 120%;
  left: 20%;
  transform: translate(-50%,-50%);
  z-index: 999
}

.button-open-feature-box3,
.button-open-feature-box2,
.button-open-feature-box1{
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%,-50%);
}

html{
  background-color: #18181B;
  transition: all 0.9s ease;
}

.button-open-feature-box3 a,
.button-open-feature-box2 a,
.button-open-feature-box1 a{
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 20px;
  background: linear-gradient(red, purple);
  font-family: 'Dosis', sans-serif;
}

.container.feature-box1-open .box2,
.container.feature-box1-open .box3{
  display: none;
}

.container.feature-box2-open .box1,
.container.feature-box2-open .box3{
  display: none;
}

.container.feature-box3-open .box1,
.container.feature-box3-open .box2{
  display: none;
}

.container.feature-box1-open .box1{
  width: 1000px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 4px solid orange;
}

.container.feature-box1-open .box1 .button-open-feature-box1{
  display: none;
}

.box1 .button-close-feature-box1{
  display: none;
}

.box2 .button-close-feature-box2{
  display: none;
}

.box3 .button-close-feature-box3{
  display: none;
}

.container.feature-box2-open .box2{
  width: 1000px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 4px solid orange;
}

.container.feature-box3-open .box3{
  width: 1000px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 4px solid orange;
}

.container.feature-box1-open .button-open-feature-box1,
.container.feature-box2-open .button-open-feature-box2,
.container.feature-box3-open .button-open-feature-box3{
  display: none;
}

.container.feature-box1-open .button-close-feature-box1,
.container.feature-box2-open .button-close-feature-box2,
.container.feature-box3-open .button-close-feature-box3{
  display: block;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.container.feature-box1-open .button-close-feature-box1 a,
.container.feature-box2-open .button-close-feature-box2 a,
.container.feature-box3-open .button-close-feature-box3 a{
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 20px;
  background: linear-gradient(red, purple);
}

.para-box1,
.para-box2,
.para-box3{
  display: none;
}

.container.feature-box1-open .para-box1,
.container.feature-box2-open .para-box2,
.container.feature-box3-open .para-box3{
  display: block !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 400px;
  overflow: hidden;
  overflow-y: scroll;
  text-align: left;
}

.container.feature-box1-open .startparabox1,
.container.feature-box2-open .startparabox2,
.container.feature-box3-open .startparabox3{
  display: none;
}

::-webkit-scrollbar{
  width: 0.5em;
}

::-webkit-scrollbar-track{
  background-color: dimgray;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb{
  background: linear-gradient(320deg, purple, orange);
  border-radius: 50px;
}

@media screen and (max-width: 320px) {
  nav ul, nav .button{
    display: none;
  }

  #h1.sticky nav{
    background-color: #31287c;
    border: 0px transparent;
    border-radius: 0px;
  }

  .personal-photo{
    display: none;
  }

  .title{
    font-size: 10px;
    left: 60%;
  }

  .scroll-d1{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .box1, .box2, .box3{
    display: flex;
    flex-direction: column;
  }
}

.avail1 h1,
.avail2 h1,
.avail3 h1{
  background-color: dimgray;
}

#h3{
  height: 100vh;
  background-color: #18181B;
}

.skating,
.dance,
.youtuber,
.tennis{
  background-color: #31287c;
  height: 300px;
  width: 300px;
  overflow: hidden;
  overflow-y: scroll;
  padding: 20px;
  color: #fff;
  text-decoration: none;
}

.youtuber p,
.tennis p{
  height: 150px;
  overflow: hidden;
  overflow-y: scroll;
  color: #fff;
}

.skating{
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%,-50%);
}

.dance{
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%,-50%);
}

.youtuber{
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%,-50%);
}

.tennis{
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%,-50%);
}

.hobie-title{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  font-size: 50px;
}

.tennis .tennis-p p span{
  font-family: 'Allura', cursive;
}